@page "/generators/mobile-game-name"
@using TehGM.Randominator.Generators.MobileGameName
@inject IMobileGameNameGenerator _generator
@inject IOptionsSnapshot<MobileGameNameOptions> _options
@attribute [Sitemap(SitemapChangeFrequency.Always)]

<PageMeta Title="Mobile Game Name Generator" Description="Need a legendary name for your mobile game? This generator has you covered!">
    <GeneratorStructuredData GeneratorType="GeneratorType.Meme"/>
</PageMeta>
<HeaderTitle>Mobile Game Name Generator</HeaderTitle>

<p>Ever wanted a solid name for your game, that will fit the champions and legends of mobile gaming? We got you covered!</p>
<p>This generator can currently provide <span class="text-special">@this._comboCount</span> <i>(yes, really)</i> game names for you. Neat, eh?!</p>
<p>
    Behold...
    <h4 class="rainbow-text funky large-text">@this._generatedName</h4>
</p>

<button @onclick="GenerateNew" class="btn btn-secondary col-12 col-sm-11 col-lg-9 col-xl-8 col-xxl-7">Generate new!</button>

<div class="history col-12 col-sm-11 col-lg-9 col-xl-8 col-xxl-7">
    <h4 class="text-center">Last 10 Names</h4>
    <GeneratorOutputHistory Key="mobile-game-name" TItem="string" MaxItems="10" @ref="this._history" ItemCssClass="funky" />
</div>

@code {
    private string _generatedName = null;
    private string _comboCount = null;

    private GeneratorOutputHistory<string> _history;

    protected override void OnParametersSet()
    {
        // calculate combinations count
        int prefixCount = this._options.Value.PrefixWordSet.Count + 1;
        int leadingCount = this._options.Value.SharedWordSet.Count + this._options.Value.LeadingWordSet.Count;
        int middleCount = this._options.Value.MiddleWordSet.Count;
        int trailingCount = this._options.Value.SharedWordSet.Count + this._options.Value.TrailingWordSet.Count;
        int comboCount = prefixCount * leadingCount * middleCount * prefixCount * trailingCount;
        this._comboCount = comboCount.ToString("N0");

        // generate new
        this.GenerateNew();
    }

    public void GenerateNew()
    {
        if (this._generatedName != null)
            this._history.Add(this._generatedName);
        this._generatedName = this._generator.Generate();
        base.StateHasChanged();
    }
}