@page "/generators/mobile-game-name"
@inject TehGM.Randominator.Generators.MobileGameName.IMobileGameNameGenerator _generator

<AppPageTitle>@_title</AppPageTitle>
<h2>@_title Generator</h2>

<p>Ever wanted a solid name for your game, that will fit the champions and legends of mobile gaming? We got you covered!</p>
<p>
    Behold...
    <h4 class="rainbow-text funky">@this._generatedName</h4>
</p>

<button @onclick="GenerateNew" class="btn btn-secondary">Generate new!</button>

@code {
    private const string _title = "Mobile Game Name";
    private string _generatedName = null;

    protected override void OnParametersSet()
    {
        this.GenerateNew();
    }

    public void GenerateNew()
    {
        this._generatedName = this._generator.Generate();
        base.StateHasChanged();
    }
}