::deep .section-header {
    margin-top: 18px;
}

::deep .naming-convention-name {
    font-weight: bold;
    font-style: italic;
    color: var(--special-text-color);
}

::deep .code-sample {
    margin-top: 5px;
}

.copy-button {
    cursor: pointer;
    font-size: 150%;
    margin-left: 8px;
    color: var(--special-text-color);
}