hr {
    border: 2px groove var(--menu-separator-color);
}

.navbar-toggler {
    background-color: var(--menu-toggler-background-color);
}

.top-row {
    height: 3.5rem;
    background-color: var(--menu-header-background-color);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    user-select: none;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

.nav-item ::deep a {
    color: var(--menu-item-color);
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.nav-item ::deep a.active {
    background-color: var(--menu-item-active-background-color);
    color: var(--menu-item-active-color);
}

.nav-item ::deep a:hover {
    background-color: var(--menu-item-hover-background-color);
    color: var(--menu-item-hover-color);
}

.sub-item {
    padding-left: 2rem !important;
}

.hidden {
    display: none;
}

.nav-menu {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .nav-menu-items {
        flex: 1 0 auto;
    }

    .copyright {
        margin-top: 10px;
        font-size: 15px;
        max-height: 55px;
        flex-shrink: 0;
        text-align: center;
        color: var(--menu-copyright-color);
        padding-bottom: 5px;

        p {
            margin-top: 0;
            margin-bottom: unset;
            font-weight: bold;
        }

        a, a:hover, a:focus {
            text-decoration: none;
        }
    }
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (max-width: 641px) {
    .nav-menu .copyright {
        display: none;
    }
}