.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-menu {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .nav-menu-items {
        flex: 1 0 auto;
    }

    .copyright {
        margin-top: 10px;
        font-size: 15px;
        max-height: 55px;
        flex-shrink: 0;
        text-align: center;
        color: #d7d7d7;
        padding-bottom: 5px;

        p {
            margin-top: 0;
            margin-bottom: unset;
            font-weight: bold;
        }

        a, a:hover, a:focus {
            text-decoration: none;
        }
    }
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (max-width: 641px) {
    .nav-menu .copyright {
        display: none;
    }
}
