@if (!this.IsEmpty)
{
    <div class="page-header px-4">
         <h1 class="header-title">@TitleContent</h1>
    </div>
}

@code {
    [Parameter]
    public RenderFragment TitleContent { get; set; }

    public bool IsEmpty => this.TitleContent == null;

    public void SetTitle(RenderFragment content)
    {
        this.TitleContent = content;
        this.StateHasChanged();
    }
}