
@mixin item-separator {
    content: " | ";
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
    font-size: 15px;
    max-height: 55px;
    flex-shrink: 0;
    text-align: center;
    color: #6e6e6e;
    padding-bottom: 5px;

    .container {
        margin-top: 0;
        margin-bottom: unset;
    }

    ::deep a, ::deep a:hover, ::deep a:focus {
        text-decoration: none;
    }


    ::deep .item + .item:before {
        @include item-separator;
    }
}

::deep .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

@media (min-width: 641px) {
    footer ::deep .copyright {
        display: none;
    }
}
