<div class="page-header px-4">
    @if (LeftSide != null)
    {
        <div class="left-side">
            @LeftSide
        </div>
    }
    @if (RightSide != null)
    {
        <div class="right-side">
            @RightSide
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment LeftSide { get; set; }
    [Parameter]
    public RenderFragment RightSide { get; set; }
    [Parameter]
    public string Title { get; set; }

    protected override void OnParametersSet()
    {
        this.ApplyLeftSide();
    }

    private void ApplyLeftSide()
    {
        if (this.ApplyLeftSide != null)
            return;
        if (string.IsNullOrWhiteSpace(this.Title))
            return;

        this.LeftSide = __builder =>
        {
            <span class="header-title">@this.Title</span>
        };
    }
}