@using System.Text

<footer>
    <div class="container">
        @foreach (Item item in this.Items ?? Enumerable.Empty<Item>())
        {
            <span class="item @item.AdditionalClasses">
                @if (!string.IsNullOrWhiteSpace(item.URL))
                {
                    <NavLink href="@item.URL" Match="NavLinkMatch.All">
                        @this.GetItemText(item)
                    </NavLink>
                }
                else
                {
                    @this.GetItemText(item)
                }
            </span>
        }

        <InlineCopyright CssClass="item copyright"/>
    </div>
</footer>

@code {
    [Parameter]
    public IEnumerable<Item> Items { get; set; }

    private MarkupString GetItemText(Item item)
        => (MarkupString)item.DisplayText;
}