.page-header {
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--header-border-color);
    height: 3.5rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;

    .header-title {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 0;
        color: var(--header-color);
    }

    &::deep a, &::deep .btn-link {
        white-space: nowrap;
        text-decoration: none;
    }

    &::deep a:hover, &::deep .btn-link:hover {
        text-decoration: underline;
    }

    &::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


@media (max-width: 640.98px) {
    .page-header ::deep a, .page-header ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page-header {
        position: sticky;
        top: 0;
        z-index: 1;
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
