@implements IDisposable

<div class="page-header px-4">
    @if (LeftSide != null)
    {
        <div class="left-side">
            @LeftSide
        </div>
    }
    @if (RightSide != null)
    {
        <div class="right-side">
            @RightSide
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment LeftSide { get; set; }
    [Parameter]
    public RenderFragment RightSide { get; set; }

    protected override void OnInitialized()
    {
        this.PageHeaderEditor.OnTitleChanged += OnTitleChanged;
    }

    private void OnTitleChanged(object sender, string content)
    {
        this.LeftSide = @<h1 class="header-title">@content</h1>;
        this.StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        this.PageHeaderEditor.OnTitleChanged -= OnTitleChanged;
    }
}