<div class="input-group-prepend @this.CssClass">
    @if (!string.IsNullOrEmpty(this.IconCssClass))
    {
        <span class="@this.IconCssClass"></span>
    }
    @if (this.ChildContent != null)
    {
        @this.ChildContent
    }
</div>

@code {

    [Parameter]
    public string CssClass { get; set; }
    [Parameter]
    public string IconCssClass { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
