@inherits LayoutComponentBase
@layout BaseLayout

<PageHeader>
    <RightSide>@AppInfo.Name by&nbsp;<a href="@AppInfo.AuthorWebsite">@AppInfo.Author</a></RightSide>
</PageHeader>

<article class="content px-4 generator">
    @Body
</article>