article {
    padding-bottom: 20px;
    max-width: 1320px;
    flex: 1 0 auto;
}

@media (min-width: 641px) {
    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}